:root {
  --color-text: black;
  --color-background: white;
}

[data-theme="dark"] {
  --color-background: black;
  --color-text: white;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: 0.5s ease;
}

* {
  box-sizing: border-box;
}
