.card {
  background-color: var(--color-card-background);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-box-shadow);
  padding: 48px 24px;
}

.cardContainer {
  margin-bottom: 24px;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  line-height: 1.4;
}

.subTitle {
  font-size: 30px;
  margin-top: 36px;
  font-weight: 700;
}

.content {
  font-size: 22px;
  font-weight: 200;
  padding: 16px 0;
  line-height: 1.6;
}

.bold {
  font-weight: 600;
}
