.introduceName {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 48px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  margin-top: 16px;
}
