.introduceName {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 48px;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .buttonContainer {
    flex-direction: column;
    gap: 3px;
  }
}
