.carouselImage {
  position: relative;
  width: 100%;
  height: 500px;
}

.carouselMobileImage {
  position: relative;
  width: 350px;
  height: 500px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carouselIamge {
    height: 300px;
  }
}
